/* :any-link, .nav-link{
  color: #084C26 !important;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}
.navbar{

  border-bottom:  1px solid rgba(0, 32, 104, 0.08);
}

.reg-text{

width: 138px;
height: 48px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;


display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'ss01' on;



color: #192126;




flex: none;
order: 0;
flex-grow: 0;
}


.login-text{
  width: 99px;
  height: 48px;
  left: 136px;
  top: 242px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  display: flex;
  align-items: center;
  font-feature-settings: 'ss01' on;

  color: #192126;
}

.login-button-green, .btn-outline-primary {
  color: #084C26 !important;
  border-color:#084C26 !important;
}

.login-button-green:hover {
  background-color: #084C26 !important;
  color: white !important;
  box-shadow:#084C26 !important;
}

.login-button-white{
  color: white !important;
 background-color: #084C26 !important;
 border-color:#084C26 !important;
  
}


.user-nav-image {
  border-radius:50%
}

.page-item.active .page-link{
  color: #ffffff;
  background-color: #084C26 !important;
  border-color:#084C26 !important;
}

.outer{
  width: 100%;
  height: 100%;
  left: 136px;
  top: 242px;
  padding: 40px 55px 60px 55px;

}

.outer .form-control:focus {
  border-color:  #084C26;
  box-shadow: none;
  
}

.outer .form-control {
  background: #F9FAFB;
  border: 1px solid #E5E6EB;
  border-radius: 8px;
}

.inner{
  
  width: 368px;
  height: 552px;
  left: 136px;
  top: 242px;
}




footer{
  background: #FFFFFF;
  border-top:  1px solid rgba(0, 32, 104, 0.08);
  }
  

.footer-item{
    
  display: inline-block;
  color: #084C26;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  
  }



  #workout-title{
   
    
    text-align: center;
    padding: auto;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
  
    
    letter-spacing: -0.5px;
    position: absolute;
    left: 6.17%;
    right: 5.84%;
    top: 80.75%;
    bottom: 5%;
    
    background: #FFFFFF;
    border-radius: 10px;
    padding-top: 10px;
  }




  .card-img-overlay{

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #d9d9d92a;
    border-radius: 10px;
  }

  .card-img-overlay:hover{
    background-color:  rgba(0, 0, 0, 0.4)!important;
  }

  .accordion-button{
    background-color: rgba(8, 76, 38, 0.3)!important;
    color: #084C26 !important;
  }

  .workout-text-fam{
    width: 184px;
    height: 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 135%;


    font-feature-settings: 'ss01' on;



    color: #192126;



    flex: none;
    order: 0;
    flex-grow: 0;
  }






.profile-header{
  position: absolute;
  width: 1440px;
  height: 206px;
  left: 0px;
  top: 105px;
  background-color: #084c2544;


}

.profile-user-head{
  padding: 100px;
  


}

.profile-user-items{

  width: 275px;

 
  top: 332px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  
  color: #000000;
  


}

.user-profile-img{
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  object-fit: cover;
}



.card_profile{
  background-color: #084C26 !important;
} */